[submodule "ThirdParty/ClrZmq4"]
	path = src/ThirdParty/ClrZmq4
	url = https://github.com/zeromq/clrzmq4
[submodule "ThirdParty/CefGlue"]
	path = src/ThirdParty/CefGlue
	url = https://gitlab.com/xiliumhq/chromiumembedded/cefglue
